# IntelliJ specific files
.idea/
*.iml
out/

# SBT specific files
target/
project/target/
project/project/

# Generated Artifacts (Fat Jars)
*.jar
*.log

# Mac specific (αν έχεις Mac εσύ ή ο φίλος σου)
.DS_Store